{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    Dashboard
</h1>

<div class="row">

    <div class="col-md-3">
        <a href="/alunos/" class="text-decoration-none">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h2>{{ total_alunos }}</h2>
                    <p>Total de Alunos</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="/planos/" class="text-decoration-none">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h2>{{ total_planos }}</h2>
                    <p>Planos</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="/treinos/" class="text-decoration-none">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h2>{{ total_treinos }}</h2>
                    <p>Treinos</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="/pagamentos/" class="text-decoration-none">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h2>{{ total_pagamentos }}</h2>
                    <p>Pagamentos</p>
                </div>
            </div>
        </a>
    </div>

</div>

{% endblock %}